openapi: 3.1.0
info:
  title: Kirk Hill Wind Farm API
  version: 1.0.0
  summary: Read-only wind farm data API for the Kirk Hill dashboard.
  description: >
    The API exposes read-only wind farm data. Generation, indicative carbon
    avoided, and capacity-factor
    values default to the API key holder's share of the wind farm, with
    `scope=site` available for whole-site data. It does not expose owner,
    account, login, password, Watts owned, or ownership percentage data. All
    timestamps in responses are UTC ISO-8601 strings.


    API requests are rate limited per account (120 requests per minute by
    default, shared across all of an account's API keys). Exceeding the limit
    returns `429 Too Many Requests` with a `Retry-After` header. Per-account
    limits can be adjusted or lifted by an administrator.
servers:
  - url: https://dashboard.kirkhillcoop.org
    description: Production
security:
  - bearerAuth: []
tags:
  - name: Wind farm data
    description: Read-only generation, wind speed, indicative carbon avoided, and turbine status data.
paths:
  /api/v1/current:
    get:
      tags:
        - Wind farm data
      summary: Get current wind farm readings
      description: >
        Returns the latest 1-minute power and wind readings, the latest imported
        turbine state text, and current capacity factor. Power values default to
        the API key holder's share of the wind farm; use `scope=site` for
        whole-site power values. Capacity factor, wind speed, and turbine
        active/inactive state are physical readings and are not changed by
        `scope`.
      operationId: getWindFarmCurrent
      parameters:
        - $ref: '#/components/parameters/Scope'
      responses:
        '200':
          description: Current wind farm readings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentResponse'
        '401':
          $ref: '#/components/responses/Unauthorised'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '422':
          $ref: '#/components/responses/ValidationError'
        '423':
          $ref: '#/components/responses/PasswordChangeRequired'
  /api/v1/summary:
    get:
      tags:
        - Wind farm data
      summary: Get wind farm summary
      description: Returns scoped generation totals, capacity factor, turbine count, and latest data status.
      operationId: getWindFarmSummary
      parameters:
        - $ref: '#/components/parameters/Range'
        - $ref: '#/components/parameters/Scope'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: Wind farm summary for the requested range.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryResponse'
        '401':
          $ref: '#/components/responses/Unauthorised'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '422':
          $ref: '#/components/responses/ValidationError'
        '423':
          $ref: '#/components/responses/PasswordChangeRequired'
  /api/v1/generation:
    get:
      tags:
        - Wind farm data
      summary: Get site generation time series
      description: Returns energy generation in kWh for each bucket in the requested range and scope.
      operationId: getWindFarmGeneration
      parameters:
        - $ref: '#/components/parameters/Range'
        - $ref: '#/components/parameters/Scope'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: Site generation time series.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationResponse'
        '401':
          $ref: '#/components/responses/Unauthorised'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '422':
          $ref: '#/components/responses/ValidationError'
        '423':
          $ref: '#/components/responses/PasswordChangeRequired'
  /api/v1/wind-speed:
    get:
      tags:
        - Wind farm data
      summary: Get wind speed time series
      description: Returns mean recorded wind speed in metres per second for each bucket in the requested range.
      operationId: getWindFarmWindSpeed
      parameters:
        - $ref: '#/components/parameters/Range'
        - $ref: '#/components/parameters/Scope'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: Wind speed time series.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WindSpeedResponse'
        '401':
          $ref: '#/components/responses/Unauthorised'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '422':
          $ref: '#/components/responses/ValidationError'
        '423':
          $ref: '#/components/responses/PasswordChangeRequired'
  /api/v1/carbon-avoided:
    get:
      tags:
        - Wind farm data
      summary: Get indicative CO2 avoided
      description: >
        Returns indicative CO2 avoided for the requested range. Each complete
        30-minute gross-generation interval is weighted by the matching NESO
        estimated actual GB grid carbon intensity and the configured assumed
        export factor. Generation and avoided-emissions values default to the
        API key holder's share; use `scope=site` for whole-wind-farm values.
        Coverage fields explicitly identify missing generation or carbon data.
      operationId: getWindFarmCarbonAvoided
      parameters:
        - $ref: '#/components/parameters/Range'
        - $ref: '#/components/parameters/Scope'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: Indicative carbon avoided for the requested range.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarbonAvoidedResponse'
        '401':
          $ref: '#/components/responses/Unauthorised'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '422':
          $ref: '#/components/responses/ValidationError'
        '423':
          $ref: '#/components/responses/PasswordChangeRequired'
  /api/v1/turbines:
    get:
      tags:
        - Wind farm data
      summary: Get turbine status
      description: Returns scoped per-turbine generation, capacity factor, coordinates, and latest rotor speed.
      operationId: getWindFarmTurbines
      parameters:
        - $ref: '#/components/parameters/Range'
        - $ref: '#/components/parameters/Scope'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: Per-turbine status rows.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TurbinesResponse'
        '401':
          $ref: '#/components/responses/Unauthorised'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '422':
          $ref: '#/components/responses/ValidationError'
        '423':
          $ref: '#/components/responses/PasswordChangeRequired'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Kirk Hill API key
      description: 'Dashboard-generated API key sent as `Authorization: Bearer <token>`.'
  parameters:
    Range:
      name: range
      in: query
      required: false
      description: >
        Requested time range. Named ranges use Europe/London local day boundaries
        and response timestamps are returned in UTC. Four-digit years from 2024
        through the current dashboard year are also accepted, for example `2024`.
        The current year behaves like year-to-date; completed years cover the
        full UK-local calendar year.
      schema:
        oneOf:
          - type: string
            enum:
              - today
              - yesterday
              - 7d
              - 30d
              - ytd
              - all
              - custom
          - type: string
            pattern: '^\d{4}$'
            example: '2024'
        default: 7d
    From:
      name: from
      in: query
      required: false
      description: Required when `range=custom`. ISO-8601 timestamp.
      schema:
        type: string
        format: date-time
        examples:
          - 2026-06-01T00:00:00Z
    Scope:
      name: scope
      in: query
      required: false
      description: >
        Generation scope. `owner` is the default and returns values scaled to
        the API key holder's share of the wind farm. `site` returns whole-site
        values. This parameter does not change wind speed readings. Keys can
        be limited to owner-share data, whole-site data, or both. Owner-only
        keys reject `scope=site`; site-only keys default to `site` and reject
        `scope=owner`.
      schema:
        type: string
        enum:
          - owner
          - site
        default: owner
    To:
      name: to
      in: query
      required: false
      description: Required when `range=custom`. ISO-8601 timestamp after `from`.
      schema:
        type: string
        format: date-time
        examples:
          - 2026-06-02T00:00:00Z
  responses:
    Unauthorised:
      description: Missing, invalid, revoked, or inactive API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            missingToken:
              value:
                message: 'Use an API key in the Authorization: Bearer header.'
            invalidToken:
              value:
                message: The API key is not valid.
            expiredToken:
              value:
                message: This API key has expired after 90 days of inactivity. Reactivate it in your dashboard account settings before using it again.
    PasswordChangeRequired:
      description: The dashboard user must change their password before API keys can be used.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Please change your dashboard password before using API keys.
    ValidationError:
      description: Invalid range or timestamp parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'
    TooManyRequests:
      description: >
        The account exceeded its per-minute request limit, which is shared
        across all of the account's API keys. The default limit is 120 requests
        per minute; a `Retry-After` header (seconds) is returned. Contact
        support if you need a higher limit for your account.
      headers:
        Retry-After:
          description: Seconds to wait before retrying.
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Too many requests. Please slow down and try again shortly.
  schemas:
    Window:
      type: object
      additionalProperties: false
      required:
        - range
        - from
        - to
        - bucket
        - scope
      properties:
        range:
          type: string
          examples:
            - 7d
        from:
          type: string
          format: date-time
          examples:
            - 2026-06-18T23:00:00Z
        to:
          type: string
          format: date-time
          examples:
            - 2026-06-25T12:34:00Z
        bucket:
          type: string
          description: Aggregation bucket chosen for the requested window.
          enum:
            - 1m
            - 10m
            - 30m
            - 1h
            - day
            - month
            - year
        scope:
          type: string
          description: Generation scope used for the response.
          enum:
            - owner
            - site
          examples:
            - owner
    CurrentReading:
      type: object
      additionalProperties: false
      required:
        - scope
        - source_interval
        - generated_at
        - complete
      properties:
        scope:
          type: string
          enum:
            - owner
            - site
          examples:
            - owner
        source_interval:
          type: string
          enum:
            - 1m
          description: Current readings use the latest imported 60-second source data.
        generated_at:
          type: string
          format: date-time
          description: Time at which the API response was generated.
        complete:
          type: boolean
          description: True when every turbine has current power, wind speed, and state data available.
    CurrentSummary:
      type: object
      additionalProperties: false
      required:
        - total_power_kw
        - total_power_watts
        - wind_speed_mps
        - capacity_factor_percent
        - active_turbines
        - inactive_turbines
        - unknown_turbines
        - total_turbines
        - capacity_watts
        - capacity_kw
        - latest_power_at
        - latest_wind_speed_at
        - latest_status_at
        - total_generation_kwh_today
        - total_generation_wh_today
      properties:
        total_power_kw:
          type:
            - number
            - 'null'
          format: double
          description: Latest total power for the requested scope.
          examples:
            - 8420.125
        total_power_watts:
          type:
            - number
            - 'null'
          format: double
          description: Latest total power for the requested scope in watts.
          examples:
            - 8420125
        wind_speed_mps:
          type:
            - number
            - 'null'
          format: double
          description: Mean of the latest turbine wind speed readings.
          examples:
            - 9.42
        capacity_factor_percent:
          type:
            - number
            - 'null'
          format: double
          description: Latest whole-site power divided by rated site capacity. This is not changed by `scope`.
          examples:
            - 44.79
        active_turbines:
          type: integer
          examples:
            - 8
        inactive_turbines:
          type: integer
          examples:
            - 0
        unknown_turbines:
          type: integer
          examples:
            - 0
        total_turbines:
          type: integer
          examples:
            - 8
        capacity_watts:
          type: number
          format: double
          description: Rated capacity represented by the requested scope.
          examples:
            - 18800000
        capacity_kw:
          type: number
          format: double
          description: Rated capacity represented by the requested scope in kilowatts.
          examples:
            - 18800
        latest_power_at:
          type:
            - string
            - 'null'
          format: date-time
        latest_wind_speed_at:
          type:
            - string
            - 'null'
          format: date-time
        latest_status_at:
          type:
            - string
            - 'null'
          format: date-time
        total_generation_kwh_today:
          type: number
          format: double
          description: Total energy generated since the start of the current UK local day, scaled to the requested scope.
          examples:
            - 1234.567
        total_generation_wh_today:
          type: integer
          format: int64
          description: Total energy generated since the start of the current UK local day in watt-hours, scaled to the requested scope.
          examples:
            - 1234567
    CurrentTurbine:
      type: object
      additionalProperties: false
      required:
        - id
        - status
        - power_kw
        - wind_speed_mps
        - capacity_factor_percent
        - capacity_watts
        - capacity_kw
        - latest_power_at
        - latest_wind_speed_at
        - status_started_at
        - state_started_at
        - state_text
      properties:
        id:
          type: string
          pattern: '^T[1-8]$'
          examples:
            - T1
        status:
          type: string
          enum:
            - active
            - inactive
            - unknown
          description: State-derived turbine availability. Unknown means no imported state row is available.
        power_kw:
          type:
            - number
            - 'null'
          format: double
          description: Latest power for this turbine and requested scope.
        wind_speed_mps:
          type:
            - number
            - 'null'
          format: double
          description: Latest wind speed for this turbine.
        capacity_factor_percent:
          type:
            - number
            - 'null'
          format: double
          description: Latest turbine power divided by the turbine's rated capacity.
        capacity_watts:
          type: number
          format: double
          description: Rated turbine capacity represented by the requested scope.
        capacity_kw:
          type: number
          format: double
          description: Rated turbine capacity represented by the requested scope in kilowatts.
        latest_power_at:
          type:
            - string
            - 'null'
          format: date-time
        latest_wind_speed_at:
          type:
            - string
            - 'null'
          format: date-time
        status_started_at:
          type:
            - string
            - 'null'
          format: date-time
          description: Start time of the current active/inactive status, calculated from the latest preceding active/inactive change. Null when the start is not known from stored history.
        state_started_at:
          type:
            - string
            - 'null'
          format: date-time
          description: Start time of the current uninterrupted ENERCON state, calculated from the latest preceding state-code change.
        state_text:
          type:
            - string
            - 'null'
          description: Latest imported ENERCON state text for this turbine.
          examples:
            - 'Normal operation: Turbine in operation'
    CurrentResponse:
      type: object
      additionalProperties: false
      required:
        - data
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - reading
            - summary
            - turbines
          properties:
            reading:
              $ref: '#/components/schemas/CurrentReading'
            summary:
              $ref: '#/components/schemas/CurrentSummary'
            turbines:
              type: array
              items:
                $ref: '#/components/schemas/CurrentTurbine'
    Summary:
      type: object
      additionalProperties: false
      required:
        - total_generation_kwh
        - co2_avoided_kg
        - co2_avoided_assumed_export_factor
        - co2_avoided_coverage_percent
        - co2_avoided_matched_intervals
        - co2_avoided_expected_intervals
        - co2_avoided_complete
        - latest_carbon_intensity_at
        - capacity_factor_percent
        - active_turbines
        - capacity_watts
        - capacity_kw
        - latest_generation_interval_end
        - latest_import_status
      properties:
        total_generation_kwh:
          type: number
          format: double
          description: Total generation for the requested scope.
          examples:
            - 123456.789
        co2_avoided_kg:
          type:
            - number
            - 'null'
          format: double
          description: Indicative CO2 avoided by matched intervals for the requested scope.
          examples:
            - 18432.125
        co2_avoided_assumed_export_factor:
          type: number
          format: double
          description: Assumed proportion of gross generation exported to the grid.
          examples:
            - 0.99
        co2_avoided_coverage_percent:
          type: number
          format: double
          minimum: 0
          maximum: 100
          description: Percentage of expected half-hour intervals with both complete generation and estimated actual carbon intensity data.
        co2_avoided_matched_intervals:
          type: integer
          minimum: 0
        co2_avoided_expected_intervals:
          type: integer
          minimum: 0
        co2_avoided_complete:
          type: boolean
          description: True when every expected half-hour interval is included.
        latest_carbon_intensity_at:
          type:
            - string
            - 'null'
          format: date-time
        capacity_factor_percent:
          type:
            - number
            - 'null'
          format: double
          description: Whole-site capacity factor over a verified common observed generation period within the selected window, not the unread tail. For readings up to one native source interval apart, this uses exact shared counter boundaries; total generation still includes newer individual readings. Null if turbines have missing or incomparable observation periods. This is not changed by `scope`.
          examples:
            - 40.8
        active_turbines:
          type: integer
          examples:
            - 8
          description: Turbines whose latest known operating state is active, regardless of the selected generation period. Missing states are not counted as active.
        capacity_watts:
          type: number
          format: double
          description: Rated capacity represented by the requested scope.
          examples:
            - 18800000
        capacity_kw:
          type: number
          format: double
          description: Rated capacity represented by the requested scope in kilowatts.
          examples:
            - 18800
        latest_generation_interval_end:
          type:
            - string
            - 'null'
          format: date-time
          description: Oldest contributing turbine end within the selected window, or null if a turbine has no known generation. A mixed-period total can include newer readings from other turbines.
          examples:
            - 2026-06-25T12:30:00Z
        latest_import_status:
          type:
            - string
            - 'null'
          examples:
            - completed
    SummaryResponse:
      type: object
      additionalProperties: false
      required:
        - data
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - window
            - summary
          properties:
            window:
              $ref: '#/components/schemas/Window'
            summary:
              $ref: '#/components/schemas/Summary'
    GenerationPoint:
      type: object
      additionalProperties: false
      required:
        - timestamp
        - generation_kwh
      properties:
        timestamp:
          type: string
          format: date-time
        generation_kwh:
          type: number
          format: double
          description: Energy generated during the bucket for the requested scope.
    GenerationResponse:
      type: object
      additionalProperties: false
      required:
        - data
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - window
            - summary
            - series
          properties:
            window:
              $ref: '#/components/schemas/Window'
            summary:
              $ref: '#/components/schemas/Summary'
            series:
              type: array
              items:
                $ref: '#/components/schemas/GenerationPoint'
    CarbonAvoidedSummary:
      type: object
      additionalProperties: false
      required:
        - co2_avoided_kg
        - generation_kwh
        - assumed_export_factor
        - coverage_percent
        - matched_intervals
        - expected_intervals
        - complete
        - latest_intensity_at
      properties:
        co2_avoided_kg:
          type:
            - number
            - 'null'
          format: double
          description: Indicative CO2 avoided by matched intervals for the requested scope.
        generation_kwh:
          type:
            - number
            - 'null'
          format: double
          description: Generation included in the estimate for the requested scope.
        assumed_export_factor:
          type: number
          format: double
          examples:
            - 0.99
        coverage_percent:
          type: number
          format: double
          minimum: 0
          maximum: 100
        matched_intervals:
          type: integer
          minimum: 0
        expected_intervals:
          type: integer
          minimum: 0
        complete:
          type: boolean
        latest_intensity_at:
          type:
            - string
            - 'null'
          format: date-time
    CarbonAvoidedPoint:
      type: object
      additionalProperties: false
      required:
        - timestamp
        - interval_end
        - duration_seconds
        - co2_avoided_kg
        - generation_kwh
        - grid_intensity_gco2_per_kwh
        - coverage_percent
        - matched_intervals
        - expected_intervals
        - complete
      properties:
        timestamp:
          type: string
          format: date-time
        interval_end:
          type: string
          format: date-time
        duration_seconds:
          type: integer
          minimum: 0
        co2_avoided_kg:
          type:
            - number
            - 'null'
          format: double
        generation_kwh:
          type:
            - number
            - 'null'
          format: double
        grid_intensity_gco2_per_kwh:
          type:
            - number
            - 'null'
          format: double
          description: Generation-weighted NESO estimated actual GB grid carbon intensity for the bucket.
        coverage_percent:
          type: number
          format: double
          minimum: 0
          maximum: 100
        matched_intervals:
          type: integer
          minimum: 0
        expected_intervals:
          type: integer
          minimum: 0
        complete:
          type: boolean
    CarbonAvoidedResponse:
      type: object
      additionalProperties: false
      required:
        - data
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - window
            - summary
            - series
          properties:
            window:
              $ref: '#/components/schemas/Window'
            summary:
              $ref: '#/components/schemas/CarbonAvoidedSummary'
            series:
              type: array
              items:
                $ref: '#/components/schemas/CarbonAvoidedPoint'
    WindSpeedPoint:
      type: object
      additionalProperties: false
      required:
        - timestamp
        - wind_speed_mps
      properties:
        timestamp:
          type: string
          format: date-time
        wind_speed_mps:
          type: number
          format: double
          description: Mean wind speed in metres per second.
    WindSpeedResponse:
      type: object
      additionalProperties: false
      required:
        - data
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - window
            - series
          properties:
            window:
              $ref: '#/components/schemas/Window'
            series:
              type: array
              items:
                $ref: '#/components/schemas/WindSpeedPoint'
    Coordinates:
      type: object
      additionalProperties: false
      required:
        - latitude
        - longitude
        - source
        - openstreetmap_node_id
      properties:
        latitude:
          type:
            - number
            - 'null'
          format: double
        longitude:
          type:
            - number
            - 'null'
          format: double
        source:
          type:
            - string
            - 'null'
          examples:
            - OpenStreetMap
        openstreetmap_node_id:
          type:
            - integer
            - 'null'
    Turbine:
      type: object
      additionalProperties: false
      required:
        - id
        - generation_kwh
        - generation_share_percent
        - capacity_factor_percent
        - capacity_watts
        - capacity_kw
        - latest_generation_interval_end
        - latest_rotor_speed_rpm
        - latest_rotor_speed_at
        - coordinates
      properties:
        id:
          type: string
          pattern: '^T[1-8]$'
          examples:
            - T1
        generation_kwh:
          type: number
          format: double
          description: Per-turbine generation for the requested scope.
        generation_share_percent:
          type:
            - number
            - 'null'
          format: double
          description: Share of scoped generation produced by this turbine.
        capacity_factor_percent:
          type:
            - number
            - 'null'
          format: double
          description: Per-turbine capacity factor based on physical output and that turbine's observed generation period. Null when a continuous observed period cannot be established. This is not changed by `scope`.
        capacity_watts:
          type: number
          format: double
          description: Rated turbine capacity represented by the requested scope.
        capacity_kw:
          type: number
          format: double
          description: Rated turbine capacity represented by the requested scope in kilowatts.
        latest_generation_interval_end:
          type:
            - string
            - 'null'
          format: date-time
        latest_rotor_speed_rpm:
          type:
            - number
            - 'null'
          format: double
        latest_rotor_speed_at:
          type:
            - string
            - 'null'
          format: date-time
        coordinates:
          $ref: '#/components/schemas/Coordinates'
    TurbinesResponse:
      type: object
      additionalProperties: false
      required:
        - data
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - window
            - turbines
          properties:
            window:
              $ref: '#/components/schemas/Window'
            turbines:
              type: array
              items:
                $ref: '#/components/schemas/Turbine'
    Error:
      type: object
      additionalProperties: true
      required:
        - message
      properties:
        message:
          type: string
    ValidationError:
      type: object
      additionalProperties: true
      required:
        - message
        - errors
      properties:
        message:
          type: string
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
